<h3 mat-dialog-title class="mat-typography">Edit User</h3>

<mat-dialog-content>
  <form [formGroup]="editUserForm" (ngSubmit)="editUser()">
    <div>
      <mat-form-field class="user_field">
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>
    </div>
    <div class="name_container">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastname">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="user_field">
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
    </div>
    <div class="button_container">
      <button mat-flat-button (click)="closeModal()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="submitting">
        <span *ngIf="!submitting">Save</span>
        <mat-spinner [diameter]="20" *ngIf="submitting"></mat-spinner>
      </button>
    </div>
  </form>
</mat-dialog-content>
