<h3 mat-dialog-title>Delete User</h3>

<div class="text_1"><strong>{{ user.username }}</strong> is selected for deletion.</div>

<div class="text_2">Are you sure you would like to delete this User? Deletion will permanently remove all User data and associations. This action may not be undone.</div>

<div class="button_container">
  <button mat-flat-button (click)="closeModal()">Cancel</button>
  <button mat-raised-button color="warn" (click)="deleteUser()">
    <span *ngIf="!deleting">Delete</span>
    <mat-spinner [diameter]="20" *ngIf="deleting"></mat-spinner>
  </button>
</div>