<div class="main_container">
  <button class="new" mat-fab (click)="openCreateNewUserModal()">
    <i class="material-icons">add</i>
  </button>

  <div *ngIf="users$ | async as users" class="table_container">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user"> {{ user.firstname }} {{ user.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button (click)="openEditUserModal(user)">
            <i class="material-icons">
              edit
            </i>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="warn" (click)="openConfirmDeleteModal(user)">
            <i class="material-icons">
              delete
            </i>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; let even = even; columns: displayedColumns;"
        [ngClass]="{gray: even}"
      ></tr>
    </table>
  </div>
</div>
